/* définition des polices */
@font-face {
    font-family: "Open sans";
    src: url("../asset/fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
}
@font-face {
    font-family: "Aldrich";
    src: url("../asset/fonts/Aldrich-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Titillium Web";
    src: url("../asset/fonts/TitilliumWeb-Regular.ttf") format("truetype"), url("../asset/fonts/TitilliumWeb-Bold.ttf") format("truetype");
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), url("../asset/fonts/MaterialIcons-Regular.ttf") format('truetype');
}
/* variables couleurs et polices*/
:root{
    /* couleurs */
    --clr-grey-light4: #F7F7F7;
    --clr-grey-light2: #CECECE;
    --clr-grey-dark4: #535353;
    --clr-af-light4: #CBD9E0;
    --clr-af-light3: #B2C7D1;
    --clr-airforce: #658FA3;
    --clr-af-dark1: #537A8C;
    --clr-af-dark2: #446372;
    --clr-af-dark3: #354D59;
    --clr-af-dark4: #26373F;
    --clr-af-dark5: #162126;
    --clr-amt-dark2: #A61337;
    /* polices */
    --text-open: "Open sans", sans-serif;
    --text-aldrich: "Aldrich", sans-serif;
    --text-titillium: "Titillium Web", sans-serif;
}
/* Styles généraux */
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
body *{
    font-family: var(--text-open);
}
h1, h2, h3{
    font-family: var(--text-titillium);
}
h1{
    font-size: 3rem;
    font-weight: 600;
}
main{
    min-height: 100vh;
}
ul{
    list-style: none;
    padding-left: 0;
}  
.row{
    margin: 0;
}
.mak-brand{
    font-family: var(--text-aldrich);
    text-transform: uppercase;
    color: #fff;
}  
.error-message{
    display: none;
    max-width: 30rem;
    color: var(--clr-amt-dark2);
}
.no-bug{
    display: none;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }