/* Styles communs à la partie privée du site (side-bar et header) */
/* side-bar */
.side-bar{
    padding: 0;
    background-color: var(--clr-af-dark5); 
}
.side-bar>div{
    position: sticky;
    top: 1.6rem;
    height: 80vh;
}
.side-bar .mak-brand{
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 600;
    padding: 4rem 0;
}
.side-bar .mak-nav{
    padding-top: 3rem;
    padding-left: 2rem;
    background-color: var(--clr-af-dark4);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 100%;
}
.side-bar .mak-nav li{
    margin-bottom: 1.5rem;
}
.side-bar .mak-nav li.mak-active a{
    color: #fff;
}
.side-bar .mak-nav li a{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: var(--clr-af-light4);
    text-decoration: none;
    transition: 0.5s;
    font-weight: 300;
}
.side-bar .mak-nav li a .material-icons{
    font-size: 3rem;
    margin-right: .5rem;
}
.side-bar .mak-nav li a:hover{
    padding-left: .5rem;
}
/* end side-bar */

/* header */
.mak-content{
    padding: 0;
}
.mak-content header{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 2rem 3rem;
    background-color: #fff;
    box-shadow: 0 2px 10px 0px #1621263d;
    position: sticky;
    top: 0;
    color: var(--clr-grey-dark4);
    z-index: 2;
}
.mak-content header>*{
    margin-bottom: 0;
}
.bugs-stats{
    display: flex;
    align-items: center;
    margin-right: 5rem;
}
.bugs-stats li{
    margin: 0 1rem;
    padding: .5rem 1rem;
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.bugs-stats li:hover{
    cursor: pointer;
    background-color: var(--clr-af-light4);
    border-radius: .5rem;
}
.bugs-stats .material-icons{
    font-size: 2.8rem;
}
.bugs-stats .number{
    font-size: 1.4rem;
    color: #fff;
    border-radius: 2rem;
    padding: 0 1rem;
    background-color: var(--clr-af-dark1);
}
.bugs-stats li span:nth-child(3){
    color: #fff;
    position: absolute;
    display: none;
    background-color: var(--clr-af-dark5);
    padding: .5rem 1rem;
    border-radius: .5rem;
    top: 4rem;
}
.bugs-stats li:hover span:nth-child(3){
    display: block;
}
.mak-content header .user{
    display: flex;
    align-items: center;
    position: relative;
}
.mak-content header .user #username{
    font-size: 2rem;
    display: flex;
    align-items: center;
}
.mak-content header .user #username .material-icons{
    font-size: 2.8rem;
    margin-right: .5rem;
}
.mak-content header .logout button{
    color: var(--clr-grey-dark4);
    border-style: none;
    padding: .5rem 1rem;
    background-color: transparent;
}
.mak-content header .logout button:hover{
    text-decoration: underline;
}
/* end header */

/* main */
.mak-content main{
    padding: 4rem 3rem 2rem;
}
.mak-content h1{
    color: var(--clr-af-dark2);
    margin-bottom: 3rem;
}
#bugs-table{
    background-color: var(--clr-grey-light4);
}
#bugs-table tr{
    padding: 1rem 0;
}
#bugs-table thead{
    background-color: var(--clr-af-dark3);
}
#bugs-table thead td{
    color: #fff;
    font-weight: 600;
}
#bugs-table tbody td{
    font-size: 1.7rem;
}
#bugs-table tbody tr td:first-child{
    font-weight: 600;
}
#bugs-table tbody tr td:nth-child(2){
    cursor: pointer;
}
#bugs-table tbody td select{
    padding: .5rem 1rem;
    border: 1px solid var(--clr-grey-light2);
    border-radius: .2rem;
}
#bugs-table tbody td select:focus-visible{
    outline: var(--clr-af-dark1) auto .1rem;
}
#bugs-table tbody td .btn-del{
    border-style: none;
    background-color: transparent;
    color: var(--clr-amt-dark2);
}
#bugs-table tbody td .btn-del .material-icons{
    font-size: 3rem;
}

/* formaulaire d'ajout*/
#add-bug-form{
    max-width: 60rem;
}
#add-bug-form>div{
    margin-bottom: 3rem;
}
#add-bug-form label{
    font-size: 1.8rem;
}
#add-bug-form input[type="text"],
#add-bug-form textarea{
    padding: 1rem;
    border: 1px solid var(--clr-grey-light2);
    border-radius: .2rem;
}
#add-bug-form input[type="submit"]{
    color: #fff;
    background-color: var(--clr-af-dark2);
    border-style: none;
    padding: 1rem 2rem;
    border-radius: .5rem;
    transition: 0.2s;
}
#add-bug-form input[type="submit"]:hover{
    background-color: var(--clr-airforce);
}
/* end main */

/* media queries */
@media screen and (max-width: 576px) {
    .side-bar .mak-nav ul{
        flex-direction: column;
        align-items: center;
    }
    .mak-content header{
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 767px) {
    .side-bar > div {
        position: static;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .side-bar{
        padding: 0 1rem;
    }
    .side-bar .mak-brand{
        padding: 1rem 0;
    }
    .side-bar .mak-nav{
        padding-top: 0;
        width: 100%;
        background-color: transparent;
    }
    .side-bar .mak-nav ul{
        display: flex;
        justify-content: space-between;
    }
    .side-bar .mak-nav li a:hover{
        padding-left: 0;
        color: #fff;
    }
    .mak-content header{
        justify-content: center;
    }
}
/* end media queries*/