/* Styles de la partie public du site (inscription et connexion) */
.login{
    background: url("../asset/img/fond-connexion.jpg") no-repeat;
    background-size: cover;
}
.signin{
    background: url("../asset/img/fond-inscription.jpg") no-repeat;
    background-size: cover;
}
main{
    backdrop-filter: blur(.1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mak-brand{
    font-size: 5rem;
    line-height: 6rem;
    margin: 4rem 0;
}
.mak-ctnr{
    background-color: #fff;
    padding: 3rem;
    border-radius: 1rem;
    margin-bottom: 4rem;
}
.mak-ctnr h1{
    color: var(--clr-af-dark2);
}
.mak-ctnr form>div{
    margin-bottom: 3rem;
}
.mak-ctnr form input[type="text"],
.mak-ctnr form input[type="password"]{
    width: 30rem;
    max-width: 30rem;
    padding: 1rem;
    border: 1px solid var(--clr-grey-light2);
    border-radius: .2rem;
}
.mak-ctnr form input[type="text"]:focus-visible,
.mak-ctnr form input[type="password"]:focus-visible{
    outline: var(--clr-af-dark1) auto .1rem;
}
.mak-ctnr form input[type="submit"]{
    color: #fff;
    background-color: var(--clr-af-dark2);
    border-style: none;
    padding: 1rem 2rem;
    border-radius: .5rem;
    transition: 0.2s;
}
.mak-ctnr form input[type="submit"]:hover{
    background-color: var(--clr-airforce);
}
.mak-ctnr .no-account a{
    color: var(--clr-airforce);
}

/* media queries */
@media screen and (max-width: 576px) {
    .mak-ctnr form input[type="text"],
    .mak-ctnr form input[type="password"]{
        width: 100%;
    }
}
/* media queries */